@(e: Throwable)

<!DOCTYPE html>
<html>
<head>
    <title>Uh oh... | Stellar Bot</title>
    <style type="text/css">
        body {
            background-color: #000;
            margin: 0;
            padding: 0;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            background: url("/assets/images/deathstar.gif") no-repeat;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
        }

    </style>
</head>
<body>

<a href="/">&nbsp;</a>

</body>
</html>