@()(implicit request: RequestHeader)

@template("That page doesn't exist! | Stellar Bot") {

<h2 id="tagline-notfound">Whoops! That page doesn't exist.</h2>

<div id="container-notfound" class="container">
    <div class="row">
        <div id="robot" class="span2 offset5">
            <img id="robotImg" src="/assets/images/robotw.png" width="100" height="100">
        </div>
    </div>
    <div class="row">
        <div id="row-notfound" class="span6 offset3">
            <a href="/">Go to the homepage.</a>
        </div>
    </div>
</div>

}